<app-list-page
  class="ion-page"
  backHref="/trains"
  layout="cards"
  [heading]="heading()"
  emptyText="Partner entstehen beim Import, sobald ein Name bestätigt wird."
  [itemTemplate]="partnerCard"
/>

<ng-template #partnerCard let-row>
  <app-entity-card
    [title]="row.name"
    [note]="row.rollen"
    icon="business-outline"
    (open)="onOpen(row.id)"
  >
    @if (row.aliasCount) {
      <ion-note>{{ row.aliasCount }} bekannte Schreibweise(n)</ion-note>
    }
  </app-entity-card>
</ng-template>
