<app-list-page
  class="ion-page"
  backHref="/trains"
  heading="Radsätze"
  layout="cards"
  emptyText="Radsätze entstehen beim Import, sobald eine Radsatznummer bestätigt wird."
  [itemTemplate]="radsatzCard"
/>

<ng-template #radsatzCard let-row>
  <app-entity-card
    [title]="row.number"
    [note]="row.fittedTo ? 'eingebaut in ' + row.fittedTo : 'ausgebaut'"
    icon="ellipse-outline"
    (open)="onOpen(row.id)"
  >
    @if (row.since) {
      <ion-note>seit {{ row.since }}</ion-note>
    }
    <ion-note>
      {{
        row.history.length === 1
          ? '1 Ein-/Ausbau erfasst'
          : row.history.length + ' Ein-/Ausbauten erfasst'
      }}
    </ion-note>
  </app-entity-card>
</ng-template>
