@if (changed() === 0) {
  <ion-note data-testid="cell-changes-none">Keine Zelle ändert sich.</ion-note>
} @else {
  <div class="cell-changes">
    <table data-testid="cell-changes">
      <thead>
        <tr>
          <th scope="col">Zelle</th>
          <th scope="col">Schlüssel</th>
          <th scope="col">Spalte</th>
          <th scope="col">Vorher</th>
          <th scope="col">Nachher</th>
        </tr>
      </thead>
      <tbody>
        @for (change of changes(); track change.cell) {
          <tr data-testid="cell-change">
            <td>{{ change.cell }}</td>
            <td>{{ change.key }}</td>
            <td>{{ change.column }}</td>
            <td>
              @if (change.before) {
                {{ change.before }}
              } @else {
                <ion-note>leer</ion-note>
              }
            </td>
            <td>
              @if (change.after) {
                {{ change.after }}
              } @else {
                <ion-note>leer</ion-note>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  @if (more() > 0) {
    <ion-note>… und {{ more() }} weitere Zellen.</ion-note>
  }
}
